site_name: Sain
site_description: "A Compose Multiplatform library for capturing and exporting signatures as ImageBitmap."
site_author: "Joel Kanyi"
site_url: "https://joelkanyi.github.io/sain/"
repo_name: sain
repo_url: "https://github.com/joelkanyi/sain"
edit_uri: "tree/main/docs/"
docs_dir: docs
remote_branch: gh-pages

nav:
  - 'Overview': index.md
  - 'Getting Started': get-started.md
  - 'Usage': usage.md
  - 'API Reference': kdoc/sain/index.html
  - 'Demo': samples.md
  - 'License': license.md

theme:
  name: 'material'
  language: 'en'
  features:
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  palette:
    # Palette toggle for light mode
    - scheme: default
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search

# Extensions
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - footnotes
  - pymdownx.betterem
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/joelkanyi
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/_joelkanyi
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/joel-kanyi-037270174/

copyright: |
  &copy; 2025 <a href="https://github.com/joelkanyi"  target="_blank" rel="noopener">Joel Kanyi</a>
