name: Publish to Maven Central Portal

on:
  release:
    types:
      - created

permissions:
  pull-requests: write
  deployments: write
  checks: write
  statuses: write
  contents: write

jobs:
  deploy:
    runs-on: macos-latest
    timeout-minutes: 60
    env:
      MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
      MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
      ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
      ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
      ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.GPG_KEY_ID }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_KEY_PASSWORD }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Extract version from tag
        run: |
          VERSION_NAME="${GITHUB_REF#refs/tags/}"  # Remove "refs/tags/"
          echo "Extracted VERSION_NAME: $VERSION_NAME"  # Debugging step
          echo "VERSION_NAME=$VERSION_NAME" >> $GITHUB_ENV

      - name: Update version in gradle.properties
        run: |
          sed -i '' "s/^version=.*/version=${{ env.VERSION_NAME }}/" gradle.properties

      - name: Commit and push version change to main branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git fetch origin main
          git checkout main
          git pull origin main

          git add gradle.properties
          git commit -m "Bump version to ${{ env.VERSION_NAME }}" || echo "No changes to commit"
          git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}

      - name: Deploy to Maven Central
        run: ./gradlew publishAggregationToCentralPortal --no-configuration-cache --stacktrace
